{
  "openapi": "3.0.0",
  "info": {
    "title": "PTO Connect API",
    "version": "1.3.0",
    "description": "\n# PTO Connect API Documentation\n\nWelcome to the PTO Connect API! This comprehensive API enables Parent-Teacher Organizations (PTOs) to manage their operations efficiently through a modern, secure, and scalable platform.\n\n## Features\n\n- **Multi-tenant Architecture**: Secure organizational data isolation\n- **Role-based Access Control**: Granular permission system with admin-configurable roles\n- **Enterprise Performance**: Sub-10ms permission queries with advanced database optimization\n- **Standardized Responses**: Consistent JSON response format across all endpoints\n- **Comprehensive Validation**: Request/response validation with detailed error reporting\n- **Real-time Monitoring**: Request tracking and performance metrics\n\n## Authentication\n\nAll API endpoints require authentication using JWT tokens obtained through the Supabase authentication system. Include the token in the Authorization header:\n\n```\nAuthorization: Bearer <your-jwt-token>\n```\n\n## Response Format\n\nAll API responses follow a standardized format:\n\n```json\n{\n  \"success\": true,\n  \"data\": {},\n  \"meta\": {\n    \"timestamp\": \"2025-06-09T21:37:28.552Z\",\n    \"request_id\": \"req_7b106dd23db8\",\n    \"version\": \"v1\",\n    \"endpoint\": \"/api/endpoint\",\n    \"method\": \"GET\"\n  },\n  \"errors\": null\n}\n```\n\n## Error Handling\n\nError responses include detailed information for debugging:\n\n```json\n{\n  \"success\": false,\n  \"data\": null,\n  \"meta\": {\n    \"timestamp\": \"2025-06-09T21:37:34.575Z\",\n    \"request_id\": \"req_d55cc9ed768d\",\n    \"version\": \"v1\",\n    \"endpoint\": \"/api/endpoint\",\n    \"method\": \"POST\"\n  },\n  \"errors\": [\n    {\n      \"code\": \"VALIDATION_ERROR\",\n      \"message\": \"Invalid input data\",\n      \"field\": \"email\",\n      \"details\": \"Email format is invalid\"\n    }\n  ]\n}\n```\n    ",
    "contact": {
      "name": "PTO Connect Support",
      "url": "https://www.ptoconnect.com/support",
      "email": "support@ptoconnect.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://www.ptoconnect.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.ptoconnect.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from Supabase authentication"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and profile management"
    },
    {
      "name": "Admin",
      "description": "Administrative functions and permission management"
    },
    {
      "name": "Events",
      "description": "Event management and coordination"
    },
    {
      "name": "Communication",
      "description": "Messaging and notification systems"
    },
    {
      "name": "Budget",
      "description": "Financial management and budget tracking"
    },
    {
      "name": "Documents",
      "description": "Document storage and sharing"
    },
    {
      "name": "Utility",
      "description": "System utilities and health checks"
    }
  ]
}
